
 <mat-card  fxLayout="row" class='card-wrapper' fxLayoutAlign="begin begin">
    <mat-card class="general-card" mat-ripple>
    <mat-card-header>
      <mat-card-title>Total</mat-card-title>
      <mat-card-title class='info-num'>302.2K</mat-card-title>
      <mat-card-subtitle>members</mat-card-subtitle>
    </mat-card-header>
  </mat-card >
  <mat-card class="general-card" mat-ripple>
    <mat-card-header>
      <mat-card-title>State</mat-card-title>
      <mat-card-title class='info-num'>30302</mat-card-title>
      <mat-card-subtitle>members</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-card class="general-card" mat-ripple>
    <mat-card-header>
      <mat-card-title>Total </mat-card-title>
      <mat-card-title class='info-num'>$130,292</mat-card-title>
      <mat-card-subtitle>Discrepencies</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-card class="general-card" mat-ripple>
    <mat-card-header>
      <mat-card-title>Rate</mat-card-title>
      <mat-card-title class='info-num'>12</mat-card-title>
      <mat-card-subtitle>overlaps</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-card class="general-card last-card" mat-ripple>
    <mat-card-header>
      <mat-card-title>Internal</mat-card-title>
      <mat-card-title class='info-num'>302.2K</mat-card-title>
      <mat-card-subtitle>members</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</mat-card>

