

<div fxLayout="row"  fxLayoutAlign="begin begin">
    <div  fxFlex="100%" 
    fxLayout="column" fxLayoutAlign="begin begin" fxLayoutGap="10px">
        <section fxLayout="row"  fxLayoutAlign="space-between begin">
            <app-memebr-diff-criteria fxFlex="100%"></app-memebr-diff-criteria>
        </section>  
        <section fxLayout="row" fxLayoutAlign="begin begin">
            <app-memebr-diff-info fxFlex="100%"></app-memebr-diff-info>
        </section>
        <section fxLayout="row" fxLayoutAlign="begin begin">

            <app-memebr-diff-chart fxFlex="60%"></app-memebr-diff-chart>
        </section>

    </div>
</div>


