<!-- <app-header  (sidenavToggle)="sidenav.toggle()"></app-header> -->
<mat-sidenav-container>
  <!-- represents the added side content -->
    <mat-sidenav #sidenav 
    [mode]= "xsQuery.matches ? 'over' : 'side'"
    [opened]="xsQuery.matches ? false : true"
    [fixedInViewport]=false
    role="navigation">
      <app-sidenav-list (closeSidenav)="sidenav.close()"
      [xsMatched] = "xsQuery.matches ? false : true"></app-sidenav-list>
    </mat-sidenav>
    <!-- represents the main content, -->
    <mat-sidenav-content>
        <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
        <main>
        <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
  