   <form fxFlex="100%" fxLayout="row"  fxLayoutAlign="space-between begin" [formGroup]=critieriaFormGroup >
      <mat-form-field 
      fxFlexAlign="start" fxFlex="40%"
      class="example-chip-list">
      <mat-chip-list #chipList>
        <mat-chip
        *ngFor="let fruit of fruits"
        [selectable]="selectable"
        [removable]="removable"
        (removed)="remove(fruit)">
        {{fruit}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input
      placeholder="Discrepency display creterias"
      #fruitInput
      [formControl]="fruitCtrl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="addOnBlur"
      (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
        {{fruit}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  
  <mat-form-field 
  fxFlexAlign="end" fxFlex="20%"
  class="mat-form-fx" >
  <input matInput placeholder="Show Discrepencies from" 
  [matDatepicker]="pickerSpanStart" 
  (focus)="pickerSpanStart.open()" 
  formControlName="pickerSpanStart" >
  <mat-datepicker-toggle color='warn'  matSuffix [for]="pickerSpanStart"></mat-datepicker-toggle>
  <mat-datepicker startView='month' #pickerSpanStart></mat-datepicker>
</mat-form-field>
</form>


