/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin: 0;
    min-width: 1200px;
}

html, body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
  }

  .panel-wrapper {
    border: 1px solid rgba(0, 0, 0, 0.03);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
    /* margin: 4px; */
}

.panel-title {
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 8px 20px;
    color: rgba(0, 0, 0, 0.54);
    background: rgba(0, 0, 0, 0.03);
}

.title-spacer {
    display: block;
    flex: 1 1 auto;
}

.panel-body {
    padding: 30px;
    background: #fff;
}


router-outlet ~ * {
    position: absolute;
    height: 100%;
    width: calc(100% - 20px);
  }

  /* bootstrap have .5rem */
label {
    margin-bottom: 0px !important;
}