<!-- <div class='panel-wrapper' style='background: rgba(0,0,0,0.6)'> -->
  <!-- <div class="panel-title" style='color: #fff'> -->
    <!-- <div class="title-spacer"> -->
      
      <nav mat-tab-nav-bar  >
        <a mat-tab-link *ngFor="let link of links"
           (click)="onNavigate(link)"
           [routerLink]="link"
           [active]="activeLink == link"> {{link}} </a>
      </nav>
    <!-- </div> -->
  <!-- </div> -->
<!-- </div> -->
<br>
<main [@fadeAnimation]="getState(o)">
  <router-outlet #o="outlet" ></router-outlet>
</main>